body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // background-color: #161d25;
}

* {
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  max-width: 1180px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

.all-pages {
  margin-top: 200px;
}

.notFoundPage {
  margin-top: 500px;
  text-align: center;
  button {
    color: black;
    cursor: pointer;
  }
}


.profilePage {
  text-align: center;
}